.topFilter {
    width: 100%;

    .filterBtnGroup {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        overflow-x: scroll;
        flex-wrap: nowrap;

    }

    .btnContent {
        width: 160px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        flex-shrink: 0;

        img {
            position: relative;
            top: -10px;
        }
    }
}