.card {
    overflow: hidden;
    background-color: white;
    border: 1px solid var(--borderColor);
    border-radius: 10px;

    width: 325px;
    height: 200px;

    .pillGroup {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    img {
        position: relative;
        left: 210px;
        top: -80px;

        &.closed {
            opacity: .2;
        }
    }
}

.restPill {
    padding: .2rem .5rem;
    background-color: white;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    width: fit-content;
    font-size: .7rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

    .statusIcon {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #01703A;
    }
    .closed {
        background-color: black;
    }
}